<div class="containerRecuperar">
  <div class="login d-flex">
    <span class="material-icons iconCustonLogin custonIcon">vpn_lock</span>
    <h1>Recuperar Conta</h1>
  </div>
  <form>
    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Digite o Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="exemplo@exemplo.com" aria-describedby="emailHelp">
    </div>  
    <button type="submit" class="btn btn-primary">Recuperar Conta</button>
  </form>
  <a routerLink="/entrar"><button type="button" class="btn btn-primary buttonNovaConta">Fazer Login</button></a>
</div>