footer{
  justify-content: center;
  align-items: center;
  background-color: var(--cor-primaria);
  height: 60px;  
  border-radius:  0 0  20px  20px;
h1{    
  font-weight: 700; 
  font-size: 1.8em;
  color: #fff;
}
}