.containerLogin{  
 background-image: url("../../../assets/img/unnamed.jpg") ; 
  background-size: cover;
  max-width: 1200px;
  width: 1200px;
  height: 590px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  flex-direction: column;
}